body {
  margin: 0;
  padding: 20px 40px;
  background-color:grey ;
  background-image: url("https://www.frontlist.in/storage/uploads/2021/04/20191219170611-GettyImages-1152794789.jpeg"); 
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;  
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-blend-mode: multiply;
  font-family: 'Roboto Condensed', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
a {
  text-decoration: none;
  color: black;
  
}

* {
  box-sizing: border-box;
}
